<h3>Medium</h3><br>
<h1>Stay curious.</h1>
<p>Discover stories, thinking, and expertise from writers on any topic.</p>

<%= button_to "Our Story" %> 
<%= button_to "Write", new_user_session_path %> 
<%= button_to "Sign in", new_user_session_path %> 
<%= button_to "GET STARTED", new_user_registration_path, method: :get %> 
